@font-face {
    font-family: 'Albra Text';
    src: url('../fonts/Albra\ Text/AlbraTextTRIAL-Black.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albra Text';
    src: url('../fonts/Albra\ Text/AlbraTextTRIAL-Semi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albra Text';
    src: url('../fonts/Albra\ Text/AlbraTextTRIAL-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lama Sans';
    src: url('../fonts/Lama\ Sans/LamaSans-Thin.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Lama Sans';
    src: url('../fonts/Lama\ Sans/LamaSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lama Sans';
    src: url('../fonts/Lama\ Sans/LamaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
