/* Utility layout styles */
.app-wrapper {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 95%;
  gap: 5.5rem;
}